## Rubric

Instructions: DELETE this cell before you submit via a `git push` to your repo before deadline. This cell is for your reference only and is not needed in your report. 

Scoring: Out of 10 points

- Each Developing  => -2 pts
- Each Unsatisfactory/Missing => -4 pts
  - until the score is 

If students address the detailed feedback in a future checkpoint they will earn these points back


|                  | Unsatisfactory                                                                                                                                                                                                    | Developing                                                                                                                                                                                              | Proficient                                     | Excellent                                                                                                                              |
|------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------|
| Data relevance   | Did not have data relevant to their question. Or the datasets don't work together because there is no way to line them up against each other. If there are multiple datasets, most of them have this trouble | Data was only tangentially relevant to the question or a bad proxy for the question. If there are multiple datasets, some of them may be irrelevant or can't be easily combined.                       | All data sources are relevant to the question. | Multiple data sources for each aspect of the project. It's clear how the data supports the needs of the project.                         |
| Data description | Dataset or its cleaning procedures are not described. If there are multiple datasets, most have this trouble                                                                                              | Data was not fully described. If there are multiple datasets, some of them are not fully described                                                                                                      | Data was fully described                       | The details of the data descriptions and perhaps some very basic EDA also make it clear how the data supports the needs of the project. |
| Data wrangling   | Did not obtain data. They did not clean/tidy the data they obtained.  If there are multiple datasets, most have this trouble                                                                                 | Data was partially cleaned or tidied. Perhaps you struggled to verify that the data was clean because they did not present it well. If there are multiple datasets, some have this trouble | The data is cleaned and tidied.                | The data is spotless and they used tools to visualize the data cleanliness and you were convinced at first glance                      |

# COGS 108 - Data Checkpoint

## Authors

Instructions: REPLACE the contents of this cell with your team list and their contributions. Note that this will change over the course of the checkpoints

This is a modified [CRediT taxonomy of contributions](https://credit.niso.org). For each group member please list how they contributed to this project using these terms:
> Analysis, Background research, Conceptualization, Data curation, Experimental investigation, Methodology, Project administration, Software, Visualization, Writing – original draft, Writing – review & editing

Example team list and credits:
- Alice Anderson: Conceptualization, Data curation, Methodology, Writing - original draft
- Bob Barker:  Analysis, Software, Visualization
- Charlie Chang: Project administration, Software, Writing - review & editing
- Dani Delgado: Analysis, Background research, Visualization, Writing - original draft

- Keilani Li: Software, Project administration, Data curation, Writing - original draft
- Bryan Lu: Writing – review & editing, Experimental investigation, methodology
- Hazel Liang: Background research, Writing-original draft, Visualization
- Lillian Tran: 
- Luis Quintanilla:

## Research Question

To what extent do headshot percentage and agent pick rates predict team win rates across regions in the 2024-2025 VCT playoffs, and does the strength of these predictors vary significantly between regions? 

We will approach our research question using variables such as agent pick rates, match results, region labels, and headshot percentages gathered from players who participated in VCT playoffs for both years.

## Background and Prior Work

### Introduction

Developed and released in 2020 by Riot Games, VALORANT is a free-to-play 5v5 tactical shooter game with 28 playable agents divided into 4 different roles–duelist, initiator, controller, sentinel–as of February 2026. Players select “agents” prior to the start of the match, with teams switching between attacking and defending “sites” halfway through the game. “Site” refers to an area on the map where the attacking team needs to plant the objective, otherwise known as the “spike,” and the defending team needs to prevent it from being planted or defuse it before it explodes after a certain amount of time. “Agents” are playable characters, each with unique abilities that complement the different roles: 
- Duelists: Excel at “entry fragging.” Basically, they are agents that are best known for initial fights and entering sites. Their abilities are often movement abilities or defensive utilities meant for getting kills to help their team enter the site and plant the bomb.
- Initiators: Information gatherers. These agents' utilities help their team find where the enemies are positioning or even hiding. Additionally, their kit comes with abilities that help the team further fight enemies at an advantage, such as flashes or stuns. Flashing refers to blinding enemies, and stunning refers to a short debuff that impairs movement, gunfire rate, and shaky camera movement for the player to simulate dizziness. Both of these factors may increase a player’s probability of winning a gunfight with their opponent.
- Controllers: Strategic agents that utilize their abilities to assist teammates and manipulate the battlefield, which involves the map, enemy positions, and actions. These abilities include walls and smokes, which help block out enemies and help their team take space on site. Walls and smokes are temporary barriers that block the enemy’s line of sight, but not a solid barrier, so they can still walk through them or enemies can also wait for them to disappear after a certain amount of time.
- Sentinels: Site defenders and bombsite anchors. Sentinels are the agents who help secure the sites for their team. They excel at stalling enemy pushes–whether it be delaying an enemy attack from behind or delaying the enemy team from taking full control of a site.

The goal of the game is to win 13 rounds by attacking and defending your site using gunplay and abilities. A core mechanic in gunplay is the headshot. While each gun deals a different amount of damage to the head, something unique to Valorant is that when both teams are on equal buy, meaning they have the same amount of money, most guns only require a single bullet to the head to instantly kill an opponent. This makes headshot percentage a key measurement of individual mechanical skill. 

VALORANT Champion Tour (VCT) is an annual tournament hosted by Riot Games. It features four regional leagues, Americas, EMEA, Pacific, and China. VCT events are divided into regional leagues and international leagues. Regional leagues refer to the four regions as mentioned previously while international leagues refer to Masters or Champions events. In other words, the international leagues consist of top teams that won their regional games and the one team that wins is considered the best team in the world as of that year. Since there are many different levels of tournaments and stages, for this project, we will be focusing on VCT Challengers playoff games from 2024-2025. We decided to leave out games from previous stages since the playoffs stage involves top teams, where winners advance to the grand finals.

From a viewer's perspective, each region has different play styles. Regions like EMEA may play very strategically while other regions like to ‘run it down,’ or in other words, play more aggressively. With 18 unique guns to buy from and 28 different agents to choose from, we thought it would be interesting to explore how headshot rates and agent pick rates affect win percentages across different regions. 

This research matters because VCT playoffs represent the highest level of competitive Valorant. The prize pools for these international events exceed a million dollars annually. With any kind of sport, successful teams will attract huge sponsorship deals and brand partners. Understanding certain features that establish a successful team can help improve future games and coaching decisions. It might even shine light on any adjustments necessary for improving game balance by showing us whether certain playstyles or agents have a possible disproportionate competitive advantage. In addition, regional playstyle differences may reveal how gameplay is tied to cultural differences and practice environments. 

### Prior Work

One study that has been done related to our topic is Valorant Analysis: A Comparative Study of Machine Learning Models<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1). As suggested by the title, the author compared the performances between different machine learning models trained on Valorant data. More specifically, they compared these models to determine which is the best at revealing underlying patterns and predicting outcomes in a "high-stakes gaming environment." The author used a Kaggle dataset on a player's first 1000 Valorant games (not their own games). They performed basic EDA and created data visualizations to understand visual patterns across different variables like agent pick distributions, rank distribution, map frequency, wins/losses, and KDA (kills, deaths, assists) metrics. Afterwards, they trained an XGB (eXtreme Gradient Boosting) model and an RF (Random Forest) model. When comparing metrics&mdash;accuracy, precision, recall, F1-score, class 0 performance, weight average&mdash;between the two models, they found that the RF model performed slightly better in terms of precision and F1-score.

Another study, titled Valorant VCT Challengers 2024 Analysis, has actually been done on a dataset we may consider using<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2). The author first preprocessed the data by renaming columns, converting data types, and handling missing values. Going into EDA, they looked into region and agent distribution, and then they visualized selected columns as a density histogram. Afterward, they looked into the top 1% of players with the highest rating in the tournament and top 1% of agents played.

The last study we were able to find related to our topic is the VCT 2024 Agent Composition Analysis<a name="cite_ref-3"></a>[<sup>3</sup>](#cite_note-3). This analysis has also been done on a different dataset we consider using for this project. The author preprocessed their data through feature engineering, renaming columns, and did some basic exploration where they looked at descriptive summary statistics for: number of matches played per tournament, stage distribution, match type distribution, and number of matches played per map. They also visualized win rates between agent picks, maps, and they applied a regression model to see if meta agent picks have an impact on win probability and a prediction model on whether map and agent pick influences win probability. Lastly, they created a recommendation list of agents based on win rate and pick rate for each map, which was very interesting to look at.

Each of the three studies mentioned above explores individual performance and agent compositions separately. None have examined how the interactions between mechanical skill (headshot percentage) and strategic choices (agent compositions) vary across the different regions in VCT. Additionally, the existing studies primarily focus on descriptive analysis rather than predictive modeling and do not specifically analyze any regional playstyle differences. Our project differs from other studies as it:
1. Examines the interaction between headshot percentage and agent picks
2. Compares how results vary across the four major VCT regions and to what extent
3. Uses playoff data from two consecutive years

A limitation we found from the first prior work is related to the dataset they used for analysis. From Kaggle, they used a dataset titled My First 1000 Valorant Games, where the dataset author used the data gathered from their own account. With that said, the analyses that were done in the article are not generalizable to the Valorant population as the machine learning models were applied to analyze one player’s account out of millions of others. They also did not explain how their findings were important and focused more on how the models they used differed from one another in terms of metrics. It was also a bit unclear what variables were being used as inputs for the machine learning, especially more so if you do not know how to read code. We will address this kind of limitation by being clear about information that might be missing from our dataset and how they affect our conclusion findings, and also creating markdown cells to explain our work in detail so our reader does not feel lost.

Another limitation can be found in the second prior work, where their data visualization in comparing 4 different columns–rating, KAST (kills, assists, survived, traded), headshot percentage, clutch success percentage–overlaps one another. This makes the graph hard for the reader to interpret even when there’s a short caption explaining all but one plot appears normally distributed. We would address this type of limitation in our project by making sure our plots are easily understandable and so we can reduce cognitive overload.

The last limitation we found is in the third study, which also relates to some of their data visualizations. For example, when looking into the win rates per agent, the author chose to give their bar graph a diverging color scheme when it is unnecessary. This is considered a limitation because it may contribute to cognitive overload since the colors do not provide any significant meaning. The interpretation of the graph would be the same if all the bars were one single color. This color scheme is more suited for visualizations such as a correlation heatmap, which is a graph they do have in their study. But for a bar graph, a diverging color scheme is not needed. We will address this type of limitation in our project by using colors wisely in our data visualizations especially if it can help convey more information to our audience.

### References

1. <a name="cite_note-1"></a> [^](#cite_ref-1) https://medium.com/@sanketangchekar/valorant-analysis-a-comparative-study-of-machine-learning-models-fa3f2866335e
2. <a name="cite_note-2"></a> [^](#cite_ref-2) https://www.kaggle.com/code/blackdragonk333/valorant-vct-challengers-2024-analysis-eda
3. <a name="cite_note-3"></a> [^](#cite_ref-3) https://www.kaggle.com/code/setsuna00/vct-2024-agent-composition-analysis

## Hypothesis

We hypothesize that while headshot percentage positively correlates with win rates across all regions, the strength of this relationship will vary across different regions and their playstyles. We further hypothesize that agent pick rates moderate this relationship, such that utility-heavy compositions reduce the marginal impact of headshot percentage on team win rates. 

As mentioned in our background, each of the four regions has different play styles. Our hypothesis is that regions that favor utility-reliant agents (such as EMEA) may show a weaker headshot-win rate correlation compared to regions that play more duelist-heavy “run it down” compositions. Although headshot percentage can be an indicator of a winning team, utility-heavy compositions can also garner kills without relying solely on raw aim, potentially mitigating the impact of headshot percentage differences.

## Data

### Data overview

Instructions: REPLACE the contents of this cell with descriptions of your actual datasets.

For each dataset include the following information
- Dataset #1
  - Dataset Name: Valorant Champion Tour 2021-2025
  - Link to the dataset: https://www.kaggle.com/datasets/ryanluong1/valorant-champion-tour-2021-2023-data?select=vct_2025
  - Number of observations:
  - Number of variables:
  - Description of the variables most relevant to this project
    - x
  - Descriptions of any shortcomings this dataset has with respect to the project
    - x
- Dataset #2
  - Dataset Name: Valorant Champions Tour 2024
  - Link to the dataset: https://www.kaggle.com/datasets/sauurabhkr/valorant-champions-tour-2024
  - Number of observations: 3123 (when combining all files together), 
  - Number of variables: 7
  - Description of the variables most relevant to this project
    - ``region``
      - the region the player represents (e.g 'Americas')
    - ``headshot_percentage``
      - percentage of kills by headshots (e.g '26%')
    - ``agent``
      - list of agents the player normally uses
    - ``playerCategory``
      - competitive level tier (VCT International, VCT Challengers, or VCT Game Changers)
    - ``team``
      - the player's team affiliation (e.g 'SEN' for Sentinels)
  - Descriptions of any shortcomings this dataset has with respect to the project
    - This dataset does not provide data on whether the team wins or loses a match, so we would not be able to look into how the variables we want to measure (headshot percentage and agent pick rate) affects win percentage.
- Dataset #3
  - Dataset Name: Valorant VCT Champions 2025 Dataset
  - Link to the dataset: https://www.kaggle.com/datasets/kierru/valorant-vct-champions-2025-dataset
  - Number of observations:
  - Number of variables:
  - Description of the variables most relevant to this project
    - x
  - Descriptions of any shortcomings this dataset has with respect to the project
    - x

Each dataset deserves either a set of bullet points as above or a few sentences if you prefer that method.

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

In [1]:
# Run this code every time when you're actively developing modules in .py files.  It's not needed if you aren't making modules
#
## this code is necessary for making sure that any modules we load are updated here 
## when their source code .py files are modified

# %load_ext autoreload
# %autoreload 2

In [2]:
# Setup code -- this only needs to be run once after cloning the repo!
# this code downloads the data from its source to the `data/00-raw/` directory
# if the data hasn't updated you don't need to do this again!

# if you don't already have these packages (you should!) uncomment this line
# %pip install requests tqdm

# import sys
# sys.path.append('./modules') # this tells python where to look for modules to import

# import get_data # this is where we get the function we need to download data

# replace the urls and filenames in this list with your actual datafiles
# yes you can use Google drive share links or whatever
# format is a list of dictionaries; 
# each dict has keys of 
#   'url' where the resource is located
#   'filename' for the local filename where it will be stored 
# datafiles = [
#     { 'url': 'https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/airline-safety/airline-safety.csv', 'filename':'airline-safety.csv'},
#     { 'url': 'https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/bad-drivers/bad-drivers.csv', 'filename':'bad-drivers.csv'}
# ]

# get_data.get_raw(datafiles,destination_directory='data/00-raw/')

### Dataset #1

Instructions: 
1. Change the header from Dataset #1 to something more descriptive of the dataset
2. Write a few paragraphs about this dataset. Make sure to cover
   1. Describe the important metrics, what units they are in, and giv some sense of what they mean.  For example "Fasting blood glucose in units of mg glucose per deciliter of blood.  Normal values for healthy individuals range from 70 to 100 mg/dL.  Values 100-125 are prediabetic and values >125mg/dL indicate diabetes. Values <70 indicate hypoglycemia. Fasting idicates the patient hasn't eaten in the last 8 hours.  If blood glucose is >250 or <50 at any time (regardless of the time of last meal) the patient's life may be in immediate danger"
   2. If there are any major concerns with the dataset, describe them. For example "Dataset is composed of people who are serious enough about eating healthy that they voluntarily downloaded an app dedicated to tracking their eating patterns. This sample is likely biased because of that self-selection. These people own smartphones and may be healthier and may have more disposable income than the average person.  Those who voluntarily log conscientiously and for long amounts of time are also likely even more interested in health than those who download the app and only log a bit before getting tired of it"
3. Use the cell below to 
    1. load the dataset 
    2. make the dataset tidy or demonstrate that it was already tidy
    3. demonstrate the size of the dataset
    4. find out how much data is missing, where its missing, and if its missing at random or seems to have any systematic relationships in its missingness
    5. find and flag any outliers or suspicious entries
    6. clean the data or demonstrate that it was already clean.  You may choose how to deal with missingness (dropna of fillna... how='any' or 'all') and you should justify your choice in some way
    7. You will load raw data from `data/00-raw/`, you will (optionally) write intermediate stages of your work to `data/01-interim` and you will write the final fully wrangled version of your data to `data/02-processed`
4. Optionally you can also show some summary statistics for variables that you think are important to the project
5. Feel free to add more cells here if that's helpful for you

### Exploring: Valorant Champion Tour 2021-2025 data

note: for this dataset even though there are 4 years worth of data, we will only utilize the 2024 dataset for this checkpoint. if in a later checkpoint we decide to use 2025 data, we will clean and process it then

describe important metrics, what units they're in, and give sense of what they mean

if there are any major concerns w the dataset, describe them

In [3]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
import pandas as pd
import numpy as np

## Agents
agents_pick = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/agents/agents_pick_rates.csv')
maps_stats = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/agents/maps_stats.csv')
teams_pick = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/agents/teams_picked_agents.csv')

## Ids 
players_ids = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/ids/players_ids.csv')
teams_ids = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/ids/teams_ids.csv')
tournaments_types = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/ids/tournaments_stages_match_types_ids.csv')
tournaments_games = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/ids/tournaments_stages_matches_games_ids.csv')

In [4]:
## Matches
draft_phase = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/draft_phase.csv')

eco_rounds = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/eco_rounds.csv')
eco_stats = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/eco_stats.csv')

kills_stats = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/kills_stats.csv')
kills = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/kills.csv')

maps_played = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/maps_played.csv')
maps_scores = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/maps_scores.csv')
overview = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/overview.csv')
rounds_kills = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/rounds_kills.csv')
scores = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/scores.csv')
team_mapping = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/team_mapping.csv')

winloss_count = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/win_loss_methods_count.csv')
winloss_round = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/matches/win_loss_methods_round_number.csv')

In [5]:
## players_stats
players_stats = pd.read_csv('data/00-raw/vct_both_2024_2025/vct_2024/players_stats/players_stats.csv')

In [6]:
print(agents_pick.shape)
agents_pick.head()

(24840, 6)

,Tournament,Stage,Match Type,Map,Agent,Pick Rate
0,Valorant Champions 2024,Playoffs,Upper Quarterfinals,All Maps,sova,69%
1,Valorant Champions 2024,Playoffs,Upper Quarterfinals,All Maps,cypher,56%
2,Valorant Champions 2024,Playoffs,Upper Quarterfinals,All Maps,omen,56%
3,Valorant Champions 2024,Playoffs,Upper Quarterfinals,All Maps,viper,44%
4,Valorant Champions 2024,Playoffs,Upper Quarterfinals,All Maps,killjoy,38%

In [7]:
print(maps_stats.shape)
maps_stats.head()

(1035, 7)

,Tournament,Stage,Match Type,Map,Total Maps Played,Attacker Side Win Percentage,Defender Side Win Percentage
0,Valorant Champions 2024,Playoffs,Upper Quarterfinals,All Maps,8,53%,47%
1,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Sunset,2,36%,64%
2,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Abyss,2,64%,36%
3,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Bind,1,75%,25%
4,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Haven,1,38%,62%

In [8]:
print(teams_pick.shape)
teams_pick.head()

(15647, 9)

,Tournament,Stage,Match Type,Map,Team,Agent,Total Wins By Map,Total Loss By Map,Total Maps Played
0,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Sunset,DRX,sova,0,1,1
1,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Sunset,DRX,cypher,0,1,1
2,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Sunset,DRX,omen,0,1,1
3,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Sunset,DRX,breach,0,1,1
4,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Sunset,DRX,neon,0,1,1

In [9]:
print(players_ids.shape)
players_ids.head()

(260, 2)

     Player  Player ID
0   t3xture       9196
1    Meteor      13039
2     Lakia        773
3     Karon      34974
4  Munchkin       2489

In [10]:
print(teams_ids.shape)
teams_ids.head()

(44, 2)

              Team  Team ID
0            Gen.G       17
1        Sentinels        2
2  FunPlus Phoenix    11328
3    Team Heretics     1001
4              DRX     8185

In [11]:
print(tournaments_types.shape)
tournaments_types.head()

(197, 6)

,Tournament,Tournament ID,Stage,Stage ID,Match Type,Match Type ID
0,Valorant Champions 2024,2097,Playoffs,4131.0,Upper Quarterfinals,26235.0
1,Valorant Champions 2024,2097,Playoffs,4131.0,Upper Semifinals,26236.0
2,Valorant Champions 2024,2097,Playoffs,4131.0,Upper Final,26237.0
3,Valorant Champions 2024,2097,Playoffs,4131.0,Grand Final,26238.0
4,Valorant Champions 2024,2097,Playoffs,4131.0,Lower Round 1,26239.0

In [12]:
print(tournaments_games.shape)
tournaments_games.head()

(1104, 9)

,Tournament,Tournament ID,Stage,Stage ID,Match Type,Match Name,Match ID,Map,Game ID
0,Valorant Champions 2024,2097,Group Stage,4035,Opening (B),Gen.G vs Sentinels,378662,Haven,180369
1,Valorant Champions 2024,2097,Group Stage,4035,Opening (B),Gen.G vs Sentinels,378662,Ascent,180370
2,Valorant Champions 2024,2097,Group Stage,4035,Opening (B),FunPlus Phoenix vs Team Heretics,378663,Abyss,180372
3,Valorant Champions 2024,2097,Group Stage,4035,Opening (B),FunPlus Phoenix vs Team Heretics,378663,Bind,180373
4,Valorant Champions 2024,2097,Group Stage,4035,Opening (B),FunPlus Phoenix vs Team Heretics,378663,Lotus,180374

In [13]:
print(draft_phase.shape)
draft_phase.head()

(2604, 7)

,Tournament,Stage,Match Type,Match Name,Team,Action,Map
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Sentinels,ban,Icebox
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Gen.G,ban,Sunset
2,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Sentinels,pick,Haven
3,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Gen.G,pick,Ascent
4,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Sentinels,ban,Bind

In [14]:
print(eco_rounds.shape)
eco_rounds.head()

(34514, 11)

,Tournament,Stage,Match Type,Match Name,Map,Round Number,Team,Loadout Value,Remaining Credits,Type,Outcome
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,1,Gen.G,3.9k,0.3k,Eco: 0-5k,Win
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,1,Sentinels,3.8k,0.2k,Eco: 0-5k,Loss
2,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,2,Gen.G,14.5k,2.4k,Semi-buy: 10-20k,Win
3,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,2,Sentinels,3.4k,9.0k,Eco: 0-5k,Loss
4,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,3,Gen.G,15.3k,11.7k,Semi-buy: 10-20k,Loss

In [15]:
print(eco_stats.shape)
eco_stats.head()

(11350, 9)

,Tournament,Stage,Match Type,Match Name,Map,Team,Type,Initiated,Won
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,Gen.G,Pistol Won,NaN,2
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,Gen.G,Eco (won),2.0,2
2,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,Gen.G,$ (won),1.0,0
3,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,Gen.G,$$ (won),6.0,4
4,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,Gen.G,$$$ (won),12.0,7

In [16]:
print(kills_stats.shape)
kills_stats.head()

(11354, 20)

,Tournament,Stage,Match Type,Match Name,Map,Team,Player,Agents,2k,3k,4k,5k,1v1,1v2,1v3,1v4,1v5,Econ,Spike Plants,Spike Defuses
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Lakia,"skye, sova",6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,6,0
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Munchkin,"kayo, viper",3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,6,0
2,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,t3xture,jett,9.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,73,0,3
3,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Meteor,killjoy,6.0,3.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,68,1,1
4,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Karon,omen,3.0,2.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,54,6,0

In [17]:
print(kills.shape)
kills.head()

(85125, 13)

,Tournament,Stage,Match Type,Match Name,Map,Player Team,Player,Enemy Team,Enemy,Player Kills,Enemy Kills,Difference,Kill Type
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Lakia,Sentinels,zekken,2.0,2.0,0.0,All Kills
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Lakia,Sentinels,johnqt,5.0,7.0,-2.0,All Kills
2,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Lakia,Sentinels,Zellsis,5.0,2.0,3.0,All Kills
3,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Lakia,Sentinels,TenZ,5.0,4.0,1.0,All Kills
4,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Lakia,Sentinels,Sacy,4.0,10.0,-6.0,All Kills

In [18]:
print(maps_played.shape)
maps_played.head()

(1104, 5)

,Tournament,Stage,Match Type,Match Name,Map
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Ascent
2,Valorant Champions 2024,Group Stage,Opening (B),FunPlus Phoenix vs Team Heretics,Abyss
3,Valorant Champions 2024,Group Stage,Opening (B),FunPlus Phoenix vs Team Heretics,Bind
4,Valorant Champions 2024,Group Stage,Opening (B),FunPlus Phoenix vs Team Heretics,Lotus

In [19]:
print(maps_scores.shape)
maps_scores.head()

(1104, 16)

,Tournament,Stage,Match Type,Match Name,Map,Team A,Team A Score,Team A Attacker Score,Team A Defender Score,Team A Overtime Score,Team B,Team B Score,Team B Attacker Score,Team B Defender Score,Team B Overtime Score,Duration
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,Gen.G,13,7,6,NaN,Sentinels,8,3,5,NaN,1:02:40
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Ascent,Gen.G,13,8,5,NaN,Sentinels,7,3,4,NaN,46:45
2,Valorant Champions 2024,Group Stage,Opening (B),FunPlus Phoenix vs Team Heretics,Abyss,FunPlus Phoenix,12,8,4,0.0,Team Heretics,14,8,4,2.0,1:10:12
3,Valorant Champions 2024,Group Stage,Opening (B),FunPlus Phoenix vs Team Heretics,Bind,FunPlus Phoenix,13,8,5,NaN,Team Heretics,9,5,4,NaN,53:01
4,Valorant Champions 2024,Group Stage,Opening (B),FunPlus Phoenix vs Team Heretics,Lotus,FunPlus Phoenix,13,6,6,1.0,Team Heretics,15,6,6,3.0,1:07:12

In [20]:
print(overview.shape)
overview.head()

(46152, 21)

,Tournament,Stage,Match Type,Match Name,Map,Player,Team,Agents,Rating,Average Combat Score,...,Deaths,Assists,Kills - Deaths (KD),"Kill, Assist, Trade, Survive %",Average Damage Per Round,Headshot %,First Kills,First Deaths,Kills - Deaths (FKD),Side
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,t3xture,Gen.G,jett,1.60,305.0,...,12.0,4.0,12.0,81%,188.0,31%,3.0,4.0,-1.0,both
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,t3xture,Gen.G,jett,1.71,364.0,...,5.0,2.0,7.0,89%,216.0,37%,2.0,2.0,0.0,attack
2,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,t3xture,Gen.G,jett,1.52,261.0,...,7.0,2.0,5.0,75%,168.0,24%,1.0,2.0,-1.0,defend
3,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,Meteor,Gen.G,killjoy,1.23,221.0,...,10.0,4.0,7.0,76%,140.0,26%,1.0,4.0,-3.0,both
4,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,Meteor,Gen.G,killjoy,1.16,229.0,...,4.0,1.0,4.0,78%,127.0,35%,1.0,1.0,0.0,attack

In [21]:
print(rounds_kills.shape)
rounds_kills.head()

(72660, 13)

,Tournament,Stage,Match Type,Match Name,Map,Round Number,Eliminator Team,Eliminator,Eliminator Agent,Eliminated Team,Eliminated,Eliminated Agent,Kill Type
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,9,Gen.G,Lakia,skye,Sentinels,TenZ,omen,2k
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,9,Gen.G,Lakia,skye,Sentinels,Zellsis,breach,2k
2,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,11,Gen.G,Lakia,skye,Sentinels,johnqt,cypher,2k
3,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,11,Gen.G,Lakia,skye,Sentinels,Sacy,sova,2k
4,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,14,Gen.G,Lakia,skye,Sentinels,johnqt,cypher,2k

In [22]:
print(scores.shape)
scores.head()

(434, 9)

,Tournament,Stage,Match Type,Match Name,Team A,Team B,Team A Score,Team B Score,Match Result
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Gen.G,Sentinels,2,0,Gen.G won
1,Valorant Champions 2024,Group Stage,Opening (B),FunPlus Phoenix vs Team Heretics,FunPlus Phoenix,Team Heretics,1,2,Team Heretics won
2,Valorant Champions 2024,Group Stage,Opening (A),DRX vs KRÜ Esports,DRX,KRÜ Esports,2,1,DRX won
3,Valorant Champions 2024,Group Stage,Opening (A),FNATIC vs Bilibili Gaming,FNATIC,Bilibili Gaming,2,0,FNATIC won
4,Valorant Champions 2024,Group Stage,Opening (C),LEVIATÁN vs Talon Esports,LEVIATÁN,Talon Esports,2,0,LEVIATÁN won

In [23]:
print(team_mapping.shape)
team_mapping.head()

(44, 2)

  Abbreviated        Full Name
0         GEN            Gen.G
1         SEN        Sentinels
2         FPX  FunPlus Phoenix
3          TH    Team Heretics
4         DRX              DRX

In [24]:
print(winloss_count.shape)
winloss_count.head()

(2208, 14)

,Tournament,Stage,Match Type,Match Name,Map,Team,Elimination,Detonated,Defused,Time Expiry (No Plant),Eliminated,Defused Failed,Detonation Denied,Time Expiry (Failed to Plant)
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,Gen.G,7,1,4,1,3,2,3,0
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,Sentinels,3,2,3,0,7,1,4,1
2,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Ascent,Gen.G,9,4,0,0,5,0,2,0
3,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Ascent,Sentinels,5,0,2,0,9,4,0,0
4,Valorant Champions 2024,Group Stage,Opening (B),FunPlus Phoenix vs Team Heretics,Abyss,FunPlus Phoenix,10,0,2,0,9,2,3,0

In [25]:
print(winloss_round.shape)
winloss_round.head()

(46754, 9)

,Tournament,Stage,Match Type,Match Name,Map,Round Number,Team,Method,Outcome
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,1,Gen.G,Defused,Win
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,1,Sentinels,Detonated Denied,Loss
2,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,2,Gen.G,Elimination,Win
3,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,2,Sentinels,Eliminated,Loss
4,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,Haven,3,Sentinels,Elimination,Win

In [26]:
print(players_stats.shape)
players_stats.head()

(15030, 25)

,Tournament,Stage,Match Type,Player,Teams,Agents,Rounds Played,Rating,Average Combat Score,Kills:Deaths,...,First Deaths Per Round,Headshot %,Clutch Success %,Clutches (won/played),Maximum Kills in a Single Map,Kills,Deaths,Assists,First Kills,First Deaths
0,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Boo,Team Heretics,astra,26,0.75,138,0.58,...,0.08,21%,22%,2/9,11,11,19,14,1,2
1,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Boo,Team Heretics,fade,16,1.10,185,1.38,...,0.00,21%,NaN,NaN,11,11,8,3,2,0
2,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Boo,Team Heretics,"astra, fade",42,0.88,162,0.81,...,0.05,21%,22%,2/9,11,22,27,17,3,2
3,Valorant Champions 2024,Playoffs,Upper Quarterfinals,benjyfishy,Team Heretics,cypher,26,0.85,203,0.86,...,0.15,34%,NaN,NaN,18,18,21,3,2,4
4,Valorant Champions 2024,Playoffs,Upper Quarterfinals,benjyfishy,Team Heretics,killjoy,16,1.36,169,2.40,...,0.00,28%,50%,1/2,12,12,5,2,1,0

In [27]:
agents_pick.isna().sum()

Tournament    0
Stage         0
Match Type    0
Map           0
Agent         0
Pick Rate     0
dtype: int64

In [28]:
maps_stats.isna().sum()

Tournament                      0
Stage                           0
Match Type                      0
Map                             0
Total Maps Played               0
Attacker Side Win Percentage    0
Defender Side Win Percentage    0
dtype: int64

In [29]:
teams_pick.isna().sum()

Tournament           0
Stage                0
Match Type           0
Map                  0
Team                 0
Agent                0
Total Wins By Map    0
Total Loss By Map    0
Total Maps Played    0
dtype: int64

In [30]:
players_ids.isna().sum()

Player       0
Player ID    0
dtype: int64

In [31]:
teams_ids.isna().sum()

Team       0
Team ID    0
dtype: int64

In [32]:
tournaments_types.isna().sum()

Tournament        0
Tournament ID     0
Stage             0
Stage ID         15
Match Type        0
Match Type ID    15
dtype: int64

In [33]:
## outliers or suspicious entries
tournaments_types[
    tournaments_types["Stage ID"].isna() |
    tournaments_types["Match Type ID"].isna()
]

,Tournament,Tournament ID,Stage,Stage ID,Match Type,Match Type ID
24,Valorant Champions 2024,2097,All Stages,NaN,All Match Types,NaN
35,Champions Tour 2024: China Stage 2,2096,All Stages,NaN,All Match Types,NaN
46,Champions Tour 2024: EMEA Stage 2,2094,All Stages,NaN,All Match Types,NaN
57,Champions Tour 2024: Americas Stage 2,2095,All Stages,NaN,All Match Types,NaN
68,Champions Tour 2024: Pacific Stage 2,2005,All Stages,NaN,All Match Types,NaN
80,Champions Tour 2024: Masters Shanghai,1999,All Stages,NaN,All Match Types,NaN
91,Champions Tour 2024: Pacific Stage 1,2002,All Stages,NaN,All Match Types,NaN
103,Champions Tour 2024: China Stage 1,2006,All Stages,NaN,All Match Types,NaN
115,Champions Tour 2024: EMEA Stage 1,1998,All Stages,NaN,All Match Types,NaN
127,Champions Tour 2024: Americas Stage 1,2004,All Stages,NaN,All Match Types,NaN
136,Champions Tour 2024: Masters Madrid,1921,All Stages,NaN,All Match Types,NaN
151,Champions Tour 2024: Americas Kickoff,1923,All Stages,NaN,All Match Types,NaN
166,Champions Tour 2024: China Kickoff,1926,All Stages,NaN,All Match Types,NaN
181,Champions Tour 2024: EMEA Kickoff,1925,All Stages,NaN,All Match Types,NaN
196,Champions Tour 2024: Pacific Kickoff,1924,All Stages,NaN,All Match Types,NaN

In [34]:
## Missing values are expected, so no rows are dropped and no imputation is performed
tournaments_types_cleaned = tournaments_types.copy()

##verify the cleaned dataset
tournaments_types_cleaned.shape

## saved the data in the data/02-processed
tournaments_types_cleaned.to_csv(
    "data/02-processed/vct_both_2024_2025/vct_2024/tournaments_stages_match_types_ids.csv",
    index=False
)

In [35]:
tournaments_games.isna().sum()

Tournament       0
Tournament ID    0
Stage            0
Stage ID         0
Match Type       0
Match Name       0
Match ID         0
Map              0
Game ID          0
dtype: int64

In [36]:
draft_phase.isna().sum()

Tournament    0
Stage         0
Match Type    0
Match Name    0
Team          0
Action        0
Map           0
dtype: int64

In [37]:
eco_rounds.isna().sum()

Tournament           0
Stage                0
Match Type           0
Match Name           0
Map                  0
Round Number         0
Team                 0
Loadout Value        0
Remaining Credits    0
Type                 0
Outcome              0
dtype: int64

In [38]:
eco_stats.isna().sum()

Tournament       0
Stage            0
Match Type       0
Match Name       0
Map              0
Team             0
Type             0
Initiated     2270
Won              0
dtype: int64

In [39]:
## Flag suspicious entries where the Initiated field is missing
eco_stats[
    eco_stats["Initiated"].isna()
][["Tournament", "Stage", "Match Name", "Map", "Initiated", "Won"]].head(10)

,Tournament,Stage,Match Name,Map,Initiated,Won
0,Valorant Champions 2024,Group Stage,Gen.G vs Sentinels,Haven,NaN,2
5,Valorant Champions 2024,Group Stage,Gen.G vs Sentinels,Haven,NaN,0
10,Valorant Champions 2024,Group Stage,Gen.G vs Sentinels,Ascent,NaN,1
15,Valorant Champions 2024,Group Stage,Gen.G vs Sentinels,Ascent,NaN,1
20,Valorant Champions 2024,Group Stage,Gen.G vs Sentinels,All Maps,NaN,3
25,Valorant Champions 2024,Group Stage,Gen.G vs Sentinels,All Maps,NaN,1
30,Valorant Champions 2024,Group Stage,FunPlus Phoenix vs Team Heretics,Abyss,NaN,0
35,Valorant Champions 2024,Group Stage,FunPlus Phoenix vs Team Heretics,Abyss,NaN,2
40,Valorant Champions 2024,Group Stage,FunPlus Phoenix vs Team Heretics,Bind,NaN,2
45,Valorant Champions 2024,Group Stage,FunPlus Phoenix vs Team Heretics,Bind,NaN,0

In [40]:
## Missing values are expected and are retained without imputation
eco_stats_cleaned = eco_stats.copy()
eco_stats_cleaned.to_csv(
    "data/02-processed/vct_both_2024_2025/vct_2024/eco_stats.csv",
    index=False
)

In [41]:
kills_stats.isna().sum()

Tournament           0
Stage                0
Match Type           0
Match Name           0
Map                  0
Team                 0
Player               0
Agents               0
2k                 634
3k                4260
4k                9055
5k               11048
1v1               8668
1v2               9816
1v3              10880
1v4              11270
1v5              11340
Econ                 0
Spike Plants         0
Spike Defuses        0
dtype: int64

In [42]:
kills_stats[
    kills_stats[["2k", "3k", "4k", "5k"]].isna().any(axis=1)
].head(10)
kills_stats[
    kills_stats[["1v1", "1v2", "1v3", "1v4", "1v5"]].isna().any(axis=1)
].head(10)

,Tournament,Stage,Match Type,Match Name,Map,Team,Player,Agents,2k,3k,4k,5k,1v1,1v2,1v3,1v4,1v5,Econ,Spike Plants,Spike Defuses
0,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Lakia,"skye, sova",6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,6,0
1,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Munchkin,"kayo, viper",3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,6,0
2,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,t3xture,jett,9.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,73,0,3
3,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Meteor,killjoy,6.0,3.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,68,1,1
4,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Gen.G,Karon,omen,3.0,2.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,54,6,0
5,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Sentinels,TenZ,omen,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,1,0
6,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Sentinels,Sacy,sova,8.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72,3,3
7,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Sentinels,Zellsis,"breach, cypher",2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,7,1
8,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Sentinels,johnqt,"cypher, deadlock",4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,0,0
9,Valorant Champions 2024,Group Stage,Opening (B),Gen.G vs Sentinels,All Maps,Sentinels,zekken,jett,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,1,1

In [43]:
## potential outliers
kills_stats[
    (kills_stats["5k"] > 2) |
    (kills_stats["4k"] > 3)
][["Player","Map","2k","3k","4k","5k"]].head(10)

        Player       Map    2k   3k   4k   5k
273     Meteor  All Maps  14.0  4.0  4.0  NaN
388        icy  All Maps   4.0  2.0  4.0  NaN
716     ZmjjKK  All Maps   1.0  3.0  4.0  1.0
4155      Sayf  All Maps   9.0  2.0  2.0  3.0
6770      Sayf  All Maps  11.0  2.0  4.0  NaN
9303    zekken  All Maps  18.0  5.0  4.0  NaN
10168    Keiko  All Maps   7.0  1.0  4.0  NaN
10178    Keiko    Icebox   4.0  1.0  4.0  NaN
10736  t3xture  All Maps  14.0  3.0  4.0  NaN

In [44]:
## Clean missing values in kills_stats and filled missing values with 0
kills_stats[["2k", "3k", "4k", "5k"]] = (
    kills_stats[["2k", "3k", "4k", "5k"]].fillna(0)
)
## Save wrangled data
kills_stats.to_csv(
    "data/02-processed/vct_both_2024_2025/vct_2024/kills_stats.csv",
    index=False
)

In [45]:
kills.isna().sum()

Tournament          0
Stage               0
Match Type          0
Match Name          0
Map                 0
Player Team         0
Player              0
Enemy Team          0
Enemy               0
Player Kills    35728
Enemy Kills     35728
Difference      35839
Kill Type           0
dtype: int64

In [46]:
kills[
    kills[["Player Kills", "Enemy Kills", "Difference"]].isna().any(axis=1)
][["Kill Type", "Player Kills", "Enemy Kills", "Difference"]].head(10)

      Kill Type  Player Kills  Enemy Kills  Difference
31  First Kills           NaN          NaN         NaN
34  First Kills           NaN          NaN         NaN
41  First Kills           NaN          NaN         NaN
46  First Kills           NaN          NaN         NaN
49  First Kills           NaN          NaN         NaN
50     Op Kills           NaN          NaN         NaN
51     Op Kills           NaN          NaN         NaN
52     Op Kills           NaN          NaN         NaN
53     Op Kills           NaN          NaN         NaN
54     Op Kills           NaN          NaN         NaN

In [47]:
## Clean kills missing value
kills_clean = kills.dropna(
    subset=["Player Kills", "Enemy Kills", "Difference"],
    how="any"
)

## Save wrangled data
kills_clean.to_csv(
    "data/02-processed/vct_both_2024_2025/vct_2024/kills.csv",
    index=False
)

In [48]:
maps_played.isna().sum()

Tournament    0
Stage         0
Match Type    0
Match Name    0
Map           0
dtype: int64

In [49]:
maps_scores.isna().sum()

Tournament                 0
Stage                      0
Match Type                 0
Match Name                 0
Map                        0
Team A                     0
Team A Score               0
Team A Attacker Score      0
Team A Defender Score      0
Team A Overtime Score    992
Team B                     0
Team B Score               0
Team B Attacker Score      0
Team B Defender Score      0
Team B Overtime Score    992
Duration                 289
dtype: int64

In [50]:
maps_scores[
    maps_scores["Team A Overtime Score"].isna() |
    maps_scores["Team B Overtime Score"].isna()
][["Match Name", "Map", "Team A Score", "Team B Score",
   "Team A Overtime Score", "Team B Overtime Score"]].head(10)
maps_scores[
    maps_scores["Duration"].isna()
][["Match Name", "Map", "Duration"]].head(10)

                               Match Name     Map Duration
168     Titan Esports Club vs JDG Esports  Icebox      NaN
169     Titan Esports Club vs JDG Esports   Lotus      NaN
170                   All Gamers vs TYLOO  Sunset      NaN
171                   All Gamers vs TYLOO  Icebox      NaN
172     Bilibili Gaming vs Wolves Esports  Sunset      NaN
173     Bilibili Gaming vs Wolves Esports    Bind      NaN
174  Dragon Ranger Gaming vs Nova Esports  Ascent      NaN
175  Dragon Ranger Gaming vs Nova Esports   Lotus      NaN
176  Dragon Ranger Gaming vs Nova Esports  Sunset      NaN
177      FunPlus Phoenix vs Trace Esports   Haven      NaN

In [51]:
## potential outliers 
maps_scores[
    (maps_scores["Team A Score"] >= 13) &
    (maps_scores["Team B Score"] <= 1)
][["Match Name", "Map", "Team A Score", "Team B Score"]].head(10)

                     Match Name     Map  Team A Score  Team B Score
301     Gen.G vs Global Esports   Lotus            13             1
447     FUT Esports vs LEVIATÁN  Sunset            13             1
848  Paper Rex vs Talon Esports   Lotus            13             0

In [52]:
## clean overtime score and filled missing values with 0
maps_scores[
    ["Team A Overtime Score", "Team B Overtime Score"]
] = maps_scores[
    ["Team A Overtime Score", "Team B Overtime Score"]
].fillna(0)

## Duration missing values are retained without imputation
maps_scores_cleaned = maps_scores.copy()

## Save wrangled data
maps_scores_cleaned.to_csv(
    "data/02-processed/vct_both_2024_2025/vct_2024/maps_scores.csv",
    index=False
)

In [53]:
overview.isna().sum()

Tournament                            0
Stage                                 0
Match Type                            0
Match Name                            0
Map                                   0
Player                                0
Team                                  0
Agents                                0
Rating                            12090
Average Combat Score               8069
Kills                              8060
Deaths                             8060
Assists                            8060
Kills - Deaths (KD)                8062
Kill, Assist, Trade, Survive %    12100
Average Damage Per Round          10051
Headshot %                        10068
First Kills                       10040
First Deaths                      10040
Kills - Deaths (FKD)              10040
Side                                  0
dtype: int64

In [54]:
overview[
    overview.isna().any(axis=1)
].head(10)

,Tournament,Stage,Match Type,Match Name,Map,Player,Team,Agents,Rating,Average Combat Score,...,Deaths,Assists,Kills - Deaths (KD),"Kill, Assist, Trade, Survive %",Average Damage Per Round,Headshot %,First Kills,First Deaths,Kills - Deaths (FKD),Side
2327,Valorant Champions 2024,Playoffs,Upper Quarterfinals,Team Heretics vs FNATIC,Lotus,Derke,FNATIC,raze,0.01,23.0,...,4.0,0.0,-4.0,NaN,23.0,0%,0.0,1.0,-1.0,defend
2422,Valorant Champions 2024,Playoffs,Lower Round 1,DRX vs Trace Esports,Lotus,Biank,Trace Esports,fade,0.01,6.0,...,4.0,1.0,-4.0,25%,0.0,NaN,0.0,1.0,-1.0,attack
5918,Champions Tour 2024: Americas Stage 2,Regular Season,Week 4,LOUD vs 100 Thieves,Ascent,cauanzin,LOUD,sova,0.03,76.0,...,2.0,0.0,-2.0,NaN,76.0,25%,0.0,0.0,0.0,defend
5921,Champions Tour 2024: Americas Stage 2,Regular Season,Week 4,LOUD vs 100 Thieves,Ascent,Less,LOUD,cypher,0.16,28.0,...,2.0,0.0,-2.0,NaN,28.0,0%,0.0,0.0,0.0,defend
5924,Champions Tour 2024: Americas Stage 2,Regular Season,Week 4,LOUD vs 100 Thieves,Ascent,tuyz,LOUD,jett,0.01,20.0,...,2.0,0.0,-2.0,NaN,20.0,0%,0.0,0.0,0.0,defend
5935,Champions Tour 2024: Americas Stage 2,Regular Season,Week 4,LOUD vs 100 Thieves,Ascent,bang,100 Thieves,omen,0.48,13.0,...,1.0,1.0,-1.0,100%,0.0,NaN,0.0,1.0,-1.0,attack
6353,Champions Tour 2024: Americas Stage 2,Playoffs,Upper Semifinals,LEVIATÁN vs KRÜ Esports,Icebox,mta,KRÜ Esports,sova,0.02,27.0,...,3.0,0.0,-3.0,NaN,27.0,0%,0.0,1.0,-1.0,defend
7050,Champions Tour 2024: China Stage 2,Regular Season,Week 1,Titan Esports Club vs JDG Esports,Icebox,Abo,Titan Esports Club,jett,NaN,295.0,...,21.0,4.0,7.0,NaN,192.0,22%,7.0,5.0,2.0,both
7051,Champions Tour 2024: China Stage 2,Regular Season,Week 1,Titan Esports Club vs JDG Esports,Icebox,Abo,Titan Esports Club,jett,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,attack
7052,Champions Tour 2024: China Stage 2,Regular Season,Week 1,Titan Esports Club vs JDG Esports,Icebox,Abo,Titan Esports Club,jett,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,defend

In [55]:
## Flag potential outliers
overview[
    (overview["Rating"] > 2) |
    (overview["Average Damage Per Round"] > 300)
][["Player", "Rating", "Average Damage Per Round"]].head(10)
overview.columns

Index(['Tournament', 'Stage', 'Match Type', 'Match Name', 'Map', 'Player',
       'Team', 'Agents', 'Rating', 'Average Combat Score', 'Kills', 'Deaths',
       'Assists', 'Kills - Deaths (KD)', 'Kill, Assist, Trade, Survive %',
       'Average Damage Per Round', 'Headshot %', 'First Kills', 'First Deaths',
       'Kills - Deaths (FKD)', 'Side'],
      dtype='object')

In [56]:
## Fill count-based stats where NaN indicates zero occurrences
overview[
    ["First Kills", "First Deaths", "Kills - Deaths (FKD)"]
] = overview[
    ["First Kills", "First Deaths", "Kills - Deaths (FKD)"]
].fillna(0)


overview_cleaned = overview.copy()

## Save wrangled data
overview_cleaned.to_csv(
    "data/02-processed/vct_both_2024_2025/vct_2024/overview.csv",
    index=False
)

In [57]:
rounds_kills.isna().sum()

Tournament          0
Stage               0
Match Type          0
Match Name          0
Map                 0
Round Number        0
Eliminator Team     0
Eliminator          0
Eliminator Agent    0
Eliminated Team     0
Eliminated          0
Eliminated Agent    0
Kill Type           0
dtype: int64

In [58]:
scores.isna().sum()

Tournament      0
Stage           0
Match Type      0
Match Name      0
Team A          0
Team B          0
Team A Score    0
Team B Score    0
Match Result    0
dtype: int64

In [59]:
team_mapping.isna().sum()

Abbreviated    0
Full Name      0
dtype: int64

In [60]:
winloss_count.isna().sum()

Tournament                       0
Stage                            0
Match Type                       0
Match Name                       0
Map                              0
Team                             0
Elimination                      0
Detonated                        0
Defused                          0
Time Expiry (No Plant)           0
Eliminated                       0
Defused Failed                   0
Detonation Denied                0
Time Expiry (Failed to Plant)    0
dtype: int64

In [61]:
winloss_round.isna().sum()

Tournament      0
Stage           0
Match Type      0
Match Name      0
Map             0
Round Number    0
Team            0
Method          0
Outcome         0
dtype: int64

In [62]:
players_stats.isna().sum()

Tournament                           0
Stage                                0
Match Type                           0
Player                               0
Teams                                0
Agents                               0
Rounds Played                        0
Rating                            3978
Average Combat Score                 0
Kills:Deaths                         0
Kill, Assist, Trade, Survive %    3978
Average Damage Per Round          1983
Kills Per Round                      0
Assists Per Round                    0
First Kills Per Round             1983
First Deaths Per Round            1983
Headshot %                        3979
Clutch Success %                  4653
Clutches (won/played)             4653
Maximum Kills in a Single Map        0
Kills                                0
Deaths                               0
Assists                              0
First Kills                          0
First Deaths                         0
dtype: int64

In [63]:
## Flag potentially suspicious entries
##specific in-game situations
players_stats[
    players_stats[[
        "Rating",
        "Kill, Assist, Trade, Survive %",
        "Average Damage Per Round",
        "Headshot %",
        "Clutch Success %"
    ]].isna().any(axis=1)
][["Player", "Rounds Played",
   "Rating", "Average Damage Per Round",
   "Headshot %", "Clutch Success %"]].head(10)

,Player,Rounds Played,Rating,Average Damage Per Round,Headshot %,Clutch Success %
1,Boo,16,1.10,122.0,21%,NaN
3,benjyfishy,26,0.85,128.0,34%,NaN
27,hiro,16,0.73,92.0,19%,NaN
47,BuZz,28,0.73,130.0,27%,NaN
60,Biank,23,0.79,127.0,40%,NaN
74,ZmjjKK,23,1.48,214.0,30%,NaN
77,tex,18,0.12,81.0,25%,NaN
80,Mazino,48,0.92,132.0,27%,NaN
134,MiniBoo,28,1.06,168.0,37%,NaN
142,CHICHOO,17,1.26,132.0,22%,NaN

In [64]:
## Missing values are expected due to limited rounds or in-game situations
players_stats_cleaned = players_stats.copy()

## Save wrangled data
players_stats_cleaned.to_csv(
    "data/02-processed/vct_both_2024_2025/vct_2024/players_stats.csv",
    index=False
)

### Dataset #2 

See instructions above for Dataset #1.  Feel free to keep adding as many more datasets as you need.  Put each new dataset in its own section just like these. 

Lastly if you do have multiple datasets, add another section where you demonstrate how you will join, align, cross-reference or whatever to combine data from the different datasets

Please note that you can always keep adding more datasets in the future if these datasets you turn in for the checkpoint aren't sufficient.  The goal here is demonstrate that you can obtain and wrangle data.  You are not tied down to only use what you turn in right now.

### Exploring: Valorant Champions Tour 2024 data

describe important metrics, what units they're in, and give sense of what they mean

if there are any major concerns w the dataset, describe them

In [65]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE

challengers = pd.read_json('data/00-raw/val_champ_tour_2024/vct-challengers.json')
gamechanger = pd.read_json('data/00-raw/val_champ_tour_2024/vct-game-changer.json')
international = pd.read_json('data/00-raw/val_champ_tour_2024/vct-international.json')

In [66]:
print(challengers.shape)
challengers.head(5)

(2054, 7)

,playerName,team,rating,region,playerStatistics,agent,playerCategory
0,Kouf,AMB,1.53,Americas,"{'average_combat_score': '298.0', 'kill_deaths...","[reyna, kayo]",vct-challengers
1,nelu,63,1.31,Americas,"{'average_combat_score': '266.7', 'kill_deaths...","[viper, sova, breach]",vct-challengers
2,welyy,Blue,1.31,Americas,"{'average_combat_score': '240.9', 'kill_deaths...","[sova, fade, breach]",vct-challengers
3,ShoT_UP,TOR,1.29,Americas,"{'average_combat_score': '240.2', 'kill_deaths...","[skye, astra, killjoy]",vct-challengers
4,mada,NRG,1.26,Americas,"{'average_combat_score': '268.8', 'kill_deaths...","[raze, jett, reyna]",vct-challengers

In [67]:
print(gamechanger.shape)
gamechanger.head(5)

(868, 7)

,playerName,team,rating,region,playerStatistics,agent,playerCategory
0,florescent,SR,1.45,Americas,"{'average_combat_score': '306.6', 'kill_deaths...","[raze, jett, reyna]",vct-game-changer
1,LunaFox,KS,1.35,Americas,"{'average_combat_score': '260.3', 'kill_deaths...","[skye, gekko, breach]",vct-game-changer
2,KP,RF.GC,1.33,Americas,"{'average_combat_score': '254.5', 'kill_deaths...","[viper, jett, breach]",vct-game-changer
3,may,EV,1.32,Americas,"{'average_combat_score': '261.8', 'kill_deaths...","[viper, omen]",vct-game-changer
4,flow3r,38,1.24,Americas,"{'average_combat_score': '282.0', 'kill_deaths...","[jett, reyna]",vct-game-changer

In [68]:
print(international.shape)
international.head(5)

(201, 7)

,playerName,team,rating,region,playerStatistics,agent,playerCategory
0,Cryocells,100T,1.14,Americas,"{'average_combat_score': '230.1', 'kill_deaths...","[brimstone, astra, jett]",vct-international
1,zekken,SEN,1.13,Americas,"{'average_combat_score': '255.3', 'kill_deaths...","[raze, jett, neon]",vct-international
2,s0m,NRG,1.12,Americas,"{'average_combat_score': '224.7', 'kill_deaths...","[clove, omen, brimstone]",vct-international
3,eeiu,100T,1.11,Americas,"{'average_combat_score': '189.4', 'kill_deaths...","[fade, sova]",vct-international
4,TenZ,SEN,1.10,Americas,"{'average_combat_score': '212.2', 'kill_deaths...","[omen, gekko, kayo]",vct-international

In total, this dataset has 3123 rows and 7 columns. Since the ``playerCategory`` column distinguishes which tier the players are from, we can combine the datasets together and separate them later if needed.

In [69]:
# join all json files together
vct_2024 = pd.concat([challengers, gamechanger, international])

print('Shape:', vct_2024.shape)
print('Confirm that we merged all tiers together:', vct_2024['playerCategory'].unique())

vct_2024.head()

Shape: (3123, 7)
Confirm that we merged all tiers together: ['vct-challengers' 'vct-game-changer' 'vct-international']

,playerName,team,rating,region,playerStatistics,agent,playerCategory
0,Kouf,AMB,1.53,Americas,"{'average_combat_score': '298.0', 'kill_deaths...","[reyna, kayo]",vct-challengers
1,nelu,63,1.31,Americas,"{'average_combat_score': '266.7', 'kill_deaths...","[viper, sova, breach]",vct-challengers
2,welyy,Blue,1.31,Americas,"{'average_combat_score': '240.9', 'kill_deaths...","[sova, fade, breach]",vct-challengers
3,ShoT_UP,TOR,1.29,Americas,"{'average_combat_score': '240.2', 'kill_deaths...","[skye, astra, killjoy]",vct-challengers
4,mada,NRG,1.26,Americas,"{'average_combat_score': '268.8', 'kill_deaths...","[raze, jett, reyna]",vct-challengers

We were able to join the files together since all 3 tiers can be found in the ``playerCategory`` column, which gives us a total of 3121 rows to work with. However, the ``playerStatistics`` column has many variables within it, so we should try to split them up into their own columns. There is also a list of agent names in the ``agent`` column, so we can also try to split that up into it's own dataset so we can calculate their pick rates. Before we do anything, what does the first player statistic look like?

In [70]:
vct_2024['playerStatistics'].iloc[0]

{'average_combat_score': '298.0',
 'kill_deaths': '1.48',
 'kill_assists_survived_traded': '74%',
 'average_damage_per_round': '185.9',
 'kills_per_round': '1.03',
 'assists_per_round': '0.36',
 'first_kills_per_round': '0.13',
 'first_deaths_per_round': '0.03',
 'headshot_percentage': '35%',
 'clutch_success_percentage': '15%'}

We can start with turning each key into its own column and then join it back into the dataset. It also looks like we'll need to turn the percentage values from a string into a float.

In [71]:
# we separate each key into their own columns by applying the pd.Series function
vct_2024 = pd.concat([vct_2024, vct_2024['playerStatistics'].apply(pd.Series)], axis = 1)
vct_2024 = vct_2024.drop(columns = ['playerStatistics'])

print('Shape:', vct_2024.shape)
vct_2024.head()

Shape: (3123, 16)

,playerName,team,rating,region,agent,playerCategory,average_combat_score,kill_deaths,kill_assists_survived_traded,average_damage_per_round,kills_per_round,assists_per_round,first_kills_per_round,first_deaths_per_round,headshot_percentage,clutch_success_percentage
0,Kouf,AMB,1.53,Americas,"[reyna, kayo]",vct-challengers,298.0,1.48,74%,185.9,1.03,0.36,0.13,0.03,35%,15%
1,nelu,63,1.31,Americas,"[viper, sova, breach]",vct-challengers,266.7,1.15,75%,182.0,0.86,0.40,0.06,0.06,30%,21%
2,welyy,Blue,1.31,Americas,"[sova, fade, breach]",vct-challengers,240.9,1.26,74%,164.1,0.82,0.39,0.07,0.04,27%,10%
3,ShoT_UP,TOR,1.29,Americas,"[skye, astra, killjoy]",vct-challengers,240.2,1.25,78%,158.6,0.82,0.40,0.06,0.06,25%,25%
4,mada,NRG,1.26,Americas,"[raze, jett, reyna]",vct-challengers,268.8,1.34,76%,172.9,0.93,0.19,0.24,0.13,26%,11%

In [72]:
# turning percentage values from string to float
percent_cols = ['kill_assists_survived_traded', 'headshot_percentage', 'clutch_success_percentage']

for col in percent_cols:
    vct_2024[col] = (
        vct_2024[col]
        .str.rstrip('%')
        .replace('', None)
    )

vct_2024[percent_cols] = vct_2024[percent_cols].apply(pd.to_numeric, errors = 'coerce')

# turning other col values from string to float
object_cols = [
    'rating',
    'average_combat_score',
    'kill_deaths',
    'kill_assists_survived_traded',
    'average_damage_per_round',
    'kills_per_round',
    'assists_per_round',
    'first_kills_per_round',
    'first_deaths_per_round',
]

for col in object_cols:
    vct_2024[col] = vct_2024[col].replace('', None)

vct_2024[object_cols] = vct_2024[object_cols].apply(pd.to_numeric, errors = 'coerce')

# make sure everything is correct
print(vct_2024.dtypes)

vct_2024.head(5)

playerName                       object
team                             object
rating                          float64
region                           object
agent                            object
playerCategory                   object
average_combat_score            float64
kill_deaths                     float64
kill_assists_survived_traded    float64
average_damage_per_round        float64
kills_per_round                 float64
assists_per_round               float64
first_kills_per_round           float64
first_deaths_per_round          float64
headshot_percentage             float64
clutch_success_percentage       float64
dtype: object

,playerName,team,rating,region,agent,playerCategory,average_combat_score,kill_deaths,kill_assists_survived_traded,average_damage_per_round,kills_per_round,assists_per_round,first_kills_per_round,first_deaths_per_round,headshot_percentage,clutch_success_percentage
0,Kouf,AMB,1.53,Americas,"[reyna, kayo]",vct-challengers,298.0,1.48,74.0,185.9,1.03,0.36,0.13,0.03,35.0,15.0
1,nelu,63,1.31,Americas,"[viper, sova, breach]",vct-challengers,266.7,1.15,75.0,182.0,0.86,0.40,0.06,0.06,30.0,21.0
2,welyy,Blue,1.31,Americas,"[sova, fade, breach]",vct-challengers,240.9,1.26,74.0,164.1,0.82,0.39,0.07,0.04,27.0,10.0
3,ShoT_UP,TOR,1.29,Americas,"[skye, astra, killjoy]",vct-challengers,240.2,1.25,78.0,158.6,0.82,0.40,0.06,0.06,25.0,25.0
4,mada,NRG,1.26,Americas,"[raze, jett, reyna]",vct-challengers,268.8,1.34,76.0,172.9,0.93,0.19,0.24,0.13,26.0,11.0

In the process of converting strings into float data types, we ran into an error where an empty string could not be converted into a float. We dealt with this by replacing empty strings with a null value, indicating that we may have some missing values in this dataset. Let's investigate this.

In [73]:
print('Total number of nulls:', vct_2024.isna().sum().sum())
vct_2024.isna().sum()

Total number of nulls: 1291

playerName                        0
team                              0
rating                          105
region                            0
agent                             0
playerCategory                    0
average_combat_score              0
kill_deaths                       0
kill_assists_survived_traded    105
average_damage_per_round         21
kills_per_round                   0
assists_per_round                 0
first_kills_per_round            21
first_deaths_per_round           21
headshot_percentage             105
clutch_success_percentage       913
dtype: int64

In [74]:
vct_2024[vct_2024['headshot_percentage'].isna()]

,playerName,team,rating,region,agent,playerCategory,average_combat_score,kill_deaths,kill_assists_survived_traded,average_damage_per_round,kills_per_round,assists_per_round,first_kills_per_round,first_deaths_per_round,headshot_percentage,clutch_success_percentage
1305,Yaobaike,65,NaN,China,"[jett, omen]",vct-challengers,199.0,0.86,NaN,51.9,0.65,0.18,0.03,0.02,NaN,NaN
1306,huNter,ALG,NaN,China,[omen],vct-challengers,116.5,0.32,NaN,76.3,0.29,0.46,0.06,0.14,NaN,NaN
1307,f1cio,ZYG,NaN,China,"[omen, killjoy]",vct-challengers,169.2,0.83,NaN,107.7,0.61,0.31,0.09,0.05,NaN,NaN
1308,FFs,ZYG,NaN,China,"[sova, harbor]",vct-challengers,129.0,0.62,NaN,88.7,0.44,0.35,0.03,0.07,NaN,NaN
1309,slowly,ZYG,NaN,China,"[yoru, omen]",vct-challengers,280.8,1.54,NaN,172.3,1.04,0.16,0.20,0.12,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,bunt,AG,NaN,China,"[omen, viper, brimstone]",vct-international,186.5,0.93,NaN,108.8,0.68,0.32,0.07,0.07,NaN,NaN
160,monk,AG,NaN,China,"[breach, killjoy, harbor]",vct-international,178.7,0.79,NaN,117.1,0.62,0.35,0.07,0.06,NaN,NaN
161,deLb,AG,NaN,China,"[raze, reyna, killjoy]",vct-international,195.7,1.00,NaN,124.2,0.71,0.18,0.06,0.06,NaN,NaN
162,Spitfires,AG,NaN,China,"[cypher, jett, killjoy]",vct-international,202.0,0.91,NaN,128.5,0.71,0.15,0.22,0.20,NaN,NaN
163,B1ack,TEC,NaN,China,"[breach, skye]",vct-international,197.6,1.11,NaN,117.7,0.72,0.38,0.06,0.06,NaN,NaN

In [75]:
vct_2024[vct_2024['headshot_percentage'].isna()]['region'].unique()

array(['China'], dtype=object)

When investigating the null values in the ``headshot_percentage`` column, all players with missing headshot rates are all from China. This may be because of the fact that Chinese-hosted events generally do not have APIs available for post-game matches. With this information in mind, how does this compare to other columns with missing values?

In [76]:
vct_2024[vct_2024['rating'].isna()]['region'].unique()

array(['China'], dtype=object)

In [77]:
vct_2024[vct_2024['kill_assists_survived_traded'].isna()]['region'].unique()

array(['China'], dtype=object)

In [78]:
vct_2024[vct_2024['average_damage_per_round'].isna()]['region'].unique()

array(['China'], dtype=object)

In [79]:
vct_2024[vct_2024['first_kills_per_round'].isna()]['region'].unique()

array(['China'], dtype=object)

In [80]:
vct_2024[vct_2024['first_deaths_per_round'].isna()]['region'].unique()

array(['China'], dtype=object)

So far, a lot of the columns with missing values still deal with missing data for players from the China region.

In [81]:
vct_2024[vct_2024['clutch_success_percentage'].isna()]['region'].unique()

array(['Americas', 'EMEA', 'China', 'Pacific'], dtype=object)

In [82]:
vct_2024[vct_2024['clutch_success_percentage'].isna()]['region'].value_counts()

region
Americas    335
EMEA        259
Pacific     210
China       109
Name: count, dtype: int64

When looking at the ``clutch_success_percentage`` column, these findings make sense if players had a 0% clutch percentage, meaning they were last alive and were unable to win the round. There were also missing values found in all four regions. We will likely not remove rows with missing values here since some variables will not be used.

Now, we can try to calculate the pick rate for each agent for the 2024 VCT and store it in a separate dataframe.

In [83]:
# each agent gets their own row
exploded = vct_2024.explode('agent')

# count the number of times an agent was picked
agent_count = exploded['agent'].value_counts()

# calculate pick rate
pick_rate = exploded['agent'].value_counts(normalize = True) * 100

# put it into a dataframe
agent_pick_rates = (
    exploded['agent']
    .value_counts(normalize = True)
    .mul(100) # multiplies by 100
    .reset_index()
)

# name cols appropriately
agent_pick_rates.columns = ['agent', 'pick_rate_percentage']

print(agent_pick_rates.shape)
agent_pick_rates.head()

(25, 2)

     agent  pick_rate_percentage
0     omen             10.243712
1    viper              9.474782
2  killjoy              8.197576
3     raze              8.158478
4     sova              7.923889

In [84]:
print(agent_pick_rates['agent'].nunique())
agent_pick_rates['agent'].unique()

25

array(['omen', 'viper', 'killjoy', 'raze', 'sova', 'cypher', 'jett',
       'skye', 'breach', 'kayo', 'gekko', 'brimstone', 'fade', 'yoru',
       'reyna', 'astra', 'neon', 'sage', 'harbor', 'chamber', 'deadlock',
       'clove', 'phoenix', 'iso', 'vyse'], dtype=object)

In [85]:
# saving datasets to the processed data folder
vct_2024.to_csv('data/01-interim/val_champ_tour_2024/vct_2024_cleaned.csv', index = False)
agent_pick_rates.to_csv('data/01-interim/val_champ_tour_2024/agent_pick_rates.csv', index = False)

### Dataset #3

See instructions above for Dataset #1.  Feel free to keep adding as many more datasets as you need.  Put each new dataset in its own section just like these. 

Lastly if you do have multiple datasets, add another section where you demonstrate how you will join, align, cross-reference or whatever to combine data from the different datasets

Please note that you can always keep adding more datasets in the future if these datasets you turn in for the checkpoint aren't sufficient.  The goal here is demonstrate that you can obtain and wrangle data.  You are not tied down to only use what you turn in right now.

### Exploring: Valorant VCT Champions 2025 data

This dataset contains statistic from the Valorant Champions Tour (VCT)

In [86]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
stats = pd.read_csv('data/00-raw/val_champ_tour_2025/stats.csv')
agent_info = pd.read_csv('data/00-raw/val_champ_tour_2025/agent_id.csv')
team_info = pd.read_csv('data/00-raw/val_champ_tour_2025/team_id.csv')
score = pd.read_csv('data/00-raw/val_champ_tour_2025/score.csv')

In [87]:
print('Shape:', stats.shape)
stats.head()

Shape: (1760, 21)

,match_id,game_id,side,player,player_id,agent,team_id,country,rating,acs,...,death,assist,deltakda,kast,adr,hs,fk,fd,deltafkfd,event_name
0,542195,233397,t,something,17086,Yoru,624,Russia,1.33,199.0,...,5,6,2.0,100%,137.0,16%,1,0,1,Group Stage: Opening (A)
1,542195,233397,t,Jinggg,7378,Raze,624,Singapore,1.11,239.0,...,7,2,1.0,80%,148.0,13%,3,2,1,Group Stage: Opening (A)
2,542195,233397,t,f0rsakeN,9801,Brimstone,624,Indonesia,1.99,341.0,...,4,7,10.0,100%,218.0,38%,1,1,0,Group Stage: Opening (A)
3,542195,233397,t,d4v41,9803,Viper,624,Malaysia,1.37,236.0,...,5,1,4.0,100%,167.0,14%,1,0,1,Group Stage: Opening (A)
4,542195,233397,t,PatMen,13744,Fade,624,Philippines,0.99,173.0,...,4,1,2.0,80%,118.0,28%,0,1,-1,Group Stage: Opening (A)

In [88]:
print('Shape:', agent_info.shape)
agent_info.head()

Shape: (28, 4)

,agent_id,agent,role,agent_png
0,1,Brimstone,Controller,https://www.vlr.gg/img/vlr/game/agents/brimsto...
1,2,Viper,Controller,https://www.vlr.gg/img/vlr/game/agents/viper.png
2,3,Omen,Controller,https://www.vlr.gg/img/vlr/game/agents/omen.png
3,4,Astra,Controller,https://www.vlr.gg/img/vlr/game/agents/astra.png
4,5,Harbor,Controller,https://www.vlr.gg/img/vlr/game/agents/harbor.png

In [89]:
print('Shape:', team_info.shape)
team_info.head()

Shape: (16, 4)

  name      full_name  team_id                           team_image_url
0  PRX      Paper Rex      624  https://owcdn.net/img/62bbeba74d5cb.png
1  XLG  Xi Lai Gaming    13581  https://owcdn.net/img/671742f863b9b.png
2   GX         GIANTX    14419  https://owcdn.net/img/657b2f3fcd199.png
3  SEN      Sentinels        2  https://owcdn.net/img/62875027c8e06.png
4  NRG            NRG     1034  https://owcdn.net/img/6610f026c1a9e.png

In [90]:
print('Shape:', score.shape)
score.head()

Shape: (88, 21)

,match_id,game_id,team_1,team_1_ct,team_1_t,team_1_ot,team_1_total,team_1_wl,team_1_id,team_2,...,team_2_t,team_2_ot,team_2_total,team_2_wl,team_2_id,team_1_walot,team_2_walot,team_1_walot_l,team_2_walot_l,event_name
0,542195,233397,Paper Rex,6,7,0,13,win,624,Xi Lai Gaming,...,6,0,9,lose,13581,no,no,no,no,Group Stage: Opening (A)
1,542195,233398,Paper Rex,8,5,0,13,win,624,Xi Lai Gaming,...,4,0,5,lose,13581,yes,no,no,no,Group Stage: Opening (A)
2,542196,233400,GIANTX,6,0,0,6,lose,14419,Sentinels,...,6,0,13,win,2,no,no,no,no,Group Stage: Opening (A)
3,542196,233401,GIANTX,10,3,0,13,win,14419,Sentinels,...,2,0,4,lose,2,yes,no,no,no,Group Stage: Opening (A)
4,542196,233402,GIANTX,4,9,0,13,win,14419,Sentinels,...,8,0,9,lose,2,no,yes,no,yes,Group Stage: Opening (A)

In [91]:
# Merge agent roles into stats dataframe
vct_2025 = stats.merge(agent_info[['agent', 'role']], on='agent', how='left')
print('Shape after merging agents:', vct_2025.shape)
vct_2025.head()

Shape after merging agents: (1760, 22)

,match_id,game_id,side,player,player_id,agent,team_id,country,rating,acs,...,assist,deltakda,kast,adr,hs,fk,fd,deltafkfd,event_name,role
0,542195,233397,t,something,17086,Yoru,624,Russia,1.33,199.0,...,6,2.0,100%,137.0,16%,1,0,1,Group Stage: Opening (A),Duelist
1,542195,233397,t,Jinggg,7378,Raze,624,Singapore,1.11,239.0,...,2,1.0,80%,148.0,13%,3,2,1,Group Stage: Opening (A),Duelist
2,542195,233397,t,f0rsakeN,9801,Brimstone,624,Indonesia,1.99,341.0,...,7,10.0,100%,218.0,38%,1,1,0,Group Stage: Opening (A),Controller
3,542195,233397,t,d4v41,9803,Viper,624,Malaysia,1.37,236.0,...,1,4.0,100%,167.0,14%,1,0,1,Group Stage: Opening (A),Controller
4,542195,233397,t,PatMen,13744,Fade,624,Philippines,0.99,173.0,...,1,2.0,80%,118.0,28%,0,1,-1,Group Stage: Opening (A),Initiator

In [92]:
# Check data types
print(vct_2025.dtypes)

match_id        int64
game_id         int64
side           object
player         object
player_id       int64
agent          object
team_id         int64
country        object
rating        float64
acs           float64
kill            int64
death           int64
assist          int64
deltakda      float64
kast           object
adr           float64
hs             object
fk              int64
fd              int64
deltafkfd       int64
event_name     object
role           object
dtype: object

In [93]:
# Remove % sign from hs and convert to numeric
vct_2025['hs'] = pd.to_numeric(vct_2025['hs'].astype(str).str.rstrip('%'), errors='coerce')

# Check if it worked
print('hs dtype:', vct_2025['hs'].dtype)
print('hs nulls:', vct_2025['hs'].isna().sum())
print(vct_2025[['player', 'hs']].head(10))

hs dtype: float64
hs nulls: 4
      player    hs
0  something  16.0
1     Jinggg  13.0
2   f0rsakeN  38.0
3      d4v41  14.0
4     PatMen  28.0
5      Rarga  36.0
6       Viva  50.0
7      NoMan  46.0
8    coconut  43.0
9   happywei  30.0

In [94]:
# Convert kast to numeric (remove % sign)
vct_2025['kast'] = pd.to_numeric(vct_2025['kast'].astype(str).str.rstrip('%'), errors='coerce')

# Check conversion
print('kast dtype:', vct_2025['kast'].dtype)
print('kast nulls:', vct_2025['kast'].isna().sum())

kast dtype: float64
kast nulls: 4

In [95]:
# Check for missing values
print('Total number of nulls:', vct_2025.isna().sum().sum())
vct_2025.isna().sum()

Total number of nulls: 63

match_id       0
game_id        0
side           0
player         0
player_id      0
agent          0
team_id        0
country        0
rating         0
acs            1
kill           0
death          0
assist         0
deltakda       1
kast           4
adr            3
hs             4
fk             0
fd             0
deltafkfd      0
event_name     0
role          50
dtype: int64

In [96]:
# Fill unknown roles
vct_2025['role'] = vct_2025['role'].fillna('Unknown')

# Fill the small number of missing values in other columns
vct_2025['acs'] = vct_2025['acs'].fillna(vct_2025['acs'].median())
vct_2025['deltakda'] = vct_2025['deltakda'].fillna(vct_2025['deltakda'].median())
vct_2025['adr'] = vct_2025['adr'].fillna(vct_2025['adr'].median())
vct_2025['kast'] = vct_2025['kast'].fillna(vct_2025['kast'].median())

print('Missing values after handling:')
print(vct_2025.isna().sum())

Missing values after handling:
match_id      0
game_id       0
side          0
player        0
player_id     0
agent         0
team_id       0
country       0
rating        0
acs           0
kill          0
death         0
assist        0
deltakda      0
kast          0
adr           0
hs            4
fk            0
fd            0
deltafkfd     0
event_name    0
role          0
dtype: int64

In [97]:
# Calculate agent pick rates
agent_pick_rates = (vct_2025['agent'].value_counts(normalize=True) * 100).reset_index()
agent_pick_rates.columns = ['agent', 'pick_rate_percentage']

print('Agent pick rates:')
print(agent_pick_rates.head(10))

Agent pick rates:
    agent  pick_rate_percentage
0    Omen             16.022727
1    Sova             10.681818
2    Yoru             10.568182
3   Viper              8.636364
4    Fade              8.522727
5    Vyse              6.022727
6  Cypher              6.022727
7  Waylay              5.113636
8    Neon              4.431818
9    Raze              4.318182

In [98]:
# Calculate team win rates from score data
team_wins = []

for idx, row in score.iterrows():
    if row['team_1_wl'] == 'win':
        team_wins.append({'team_id': row['team_1_id'], 'match_id': row['match_id']})
    elif row['team_2_wl'] == 'win':
        team_wins.append({'team_id': row['team_2_id'], 'match_id': row['match_id']})

team_wins_df = pd.DataFrame(team_wins)
team_win_counts = team_wins_df.groupby('team_id').size().reset_index(name='wins')

team_match_counts = vct_2025.groupby('team_id')['match_id'].nunique().reset_index(name='total_matches')

team_win_rates = team_win_counts.merge(team_match_counts, on='team_id', how='right')
team_win_rates['win_rate'] = (team_win_rates['wins'] / team_win_rates['total_matches'] * 100).fillna(0)

print('Team win rates:')
print(team_win_rates.head(10))

Team win rates:
   team_id  wins  total_matches    win_rate
0        2   2.0              2  100.000000
1       14   NaN              3    0.000000
2      474   2.0              3   66.666667
3      624  10.0              6  166.666667
4      878   2.0              3   66.666667
5     1001   7.0              5  140.000000
6     1034  12.0              6  200.000000
7     1120   1.0              2   50.000000
8     2593  12.0              7  171.428571
9     7386  12.0              6  200.000000

In [99]:
# Calculate average headshot percentage by team
team_avg_hs = vct_2025.groupby('team_id')['hs'].mean().reset_index(name='avg_hs')
team_avg_hs = team_avg_hs.merge(team_info[['team_id', 'name']], on='team_id', how='left')

print('Average headshot percentage by team:')
print(team_avg_hs.head(10))

Average headshot percentage by team:
   team_id     avg_hs  name
0        2  27.566667   SEN
1       14  32.133333    T1
2      474  29.681159    TL
3      624  28.068750   PRX
4      878  32.014286   RRQ
5     1001  31.875000    TH
6     1034  25.390533   NRG
7     1120  25.920000   EDG
8     2593  31.268182   FNC
9     7386  29.353333  MIBR

## Ethics 

Instructions: Keep the contents of this cell. For each item on the checklist
-  put an X there if you've considered the item
-  IF THE ITEM IS RELEVANT place a short paragraph after the checklist item discussing the issue.
  
Items on this checklist are meant to provoke discussion among good-faith actors who take their ethical responsibilities seriously. Your teams will document these discussions and decisions for posterity using this section.  You don't have to solve these problems, you just have to acknowledge any potential harm no matter how unlikely.

Here is a [list of real world examples](https://deon.drivendata.org/examples/) for each item in the checklist that can refer to.

[![Deon badge](https://img.shields.io/badge/ethics%20checklist-deon-brightgreen.svg?style=popout-square)](http://deon.drivendata.org/)

### A. Data Collection
 - [ ] **A.1 Informed consent**: If there are human subjects, have they given informed consent, where subjects affirmatively opt-in and have a clear understanding of the data uses to which they consent?

<!-- > Example of how to use the checkbox, and also of how you can put in a short paragraph that discusses the way this checklist item affects your project.  Remove this paragraph and the X in the checkbox before you fill this out for your project -->

 - [X] **A.2 Collection bias**: Have we considered sources of bias that could be introduced during data collection and survey design and taken steps to mitigate those?

 > From the Kaggle website of the first dataset we listed, the author was stated that some of the China stats are missing because Chinese hosted events do not have APIs available for post-game stats. This may lead to underrepresentation from Chinese teams and bias our findings towards patterns from the other regions. To combat this limitation, we will avoid making strong claims about China where data is missing.

 - [X] **A.3 Limit PII exposure**: Have we considered ways to minimize exposure of personally identifiable information (PII) for example through anonymization or not collecting information that isn't relevant for analysis?

 > While the dataset contains publicly available professional player names, we will not link their player profile to their private identities as they are not needed for analyses. We will focus more on teams as a whole rather than looking at each player individually.

 - [ ] **A.4 Downstream bias mitigation**: Have we considered ways to enable testing downstream results for biased outcomes (e.g., collecting data on protected group status like race or gender)?

### B. Data Storage
 - [ ] **B.1 Data security**: Do we have a plan to protect and secure data (e.g., encryption at rest and in transit, access controls on internal users and third parties, access logs, and up-to-date software)?
 - [ ] **B.2 Right to be forgotten**: Do we have a mechanism through which an individual can request their personal information be removed?
 - [ ] **B.3 Data retention plan**: Is there a schedule or plan to delete the data after it is no longer needed?

### C. Analysis
 - [ ] **C.1 Missing perspectives**: Have we sought to address blindspots in the analysis through engagement with relevant stakeholders (e.g., checking assumptions and discussing implications with affected communities and subject matter experts)?
 - [X] **C.2 Dataset bias**: Have we examined the data for possible sources of bias and taken steps to mitigate or address these biases (e.g., stereotype perpetuation, confirmation bias, imbalanced classes, or omitted confounding variables)?

 > From the Kaggle website of the first dataset we listed, the author has also noted that the dataset contains missing values, placeholder team names, and inconsistencies such as two teams having the same team ID. As mentioned earlier, China has missing statistics as APIs are not publicly available. We plan to document any missing data we find and exclude rows where missing values are present.

 - [X] **C.3 Honest representation**: Are our visualizations, summary statistics, and reports designed to honestly represent the underlying data?

 > We plan to clearly label visualizations and document any uncertainties we come across to avoid strong conclusions. For example, if there are regional differences between the Americas and China, we will make sure to clarify whether the statement was based on complete or incomplete data.

 - [ ] **C.4 Privacy in analysis**: Have we ensured that data with PII are not used or displayed unless necessary for the analysis?
 - [X] **C.5 Auditability**: Is the process of generating the analysis well documented and reproducible if we discover issues in the future?

 > When performing data analysis and cleaning, we will make sure our code is well-documented so that others can easily follow along and reproduce our results. For example, since we will be looking at VCT playoff games for the years 2024 and 2025, we will clearly state these filtering decisions.

### D. Modeling
 - [ ] **D.1 Proxy discrimination**: Have we ensured that the model does not rely on variables or proxies for variables that are unfairly discriminatory?
 - [ ] **D.2 Fairness across groups**: Have we tested model results for fairness with respect to different affected groups (e.g., tested for disparate error rates)?
 - [ ] **D.3 Metric selection**: Have we considered the effects of optimizing for our defined metrics and considered additional metrics?
 - [ ] **D.4 Explainability**: Can we explain in understandable terms a decision the model made in cases where a justification is needed?
 - [ ] **D.5 Communicate limitations**: Have we communicated the shortcomings, limitations, and biases of the model to relevant stakeholders in ways that can be generally understood?

### E. Deployment
 - [ ] **E.1 Monitoring and evaluation**: Do we have a clear plan to monitor the model and its impacts after it is deployed (e.g., performance monitoring, regular audit of sample predictions, human review of high-stakes decisions, reviewing downstream impacts of errors or low-confidence decisions, testing for concept drift)?
 - [ ] **E.2 Redress**: Have we discussed with our organization a plan for response if users are harmed by the results (e.g., how does the data science team evaluate these cases and update analysis and models to prevent future harm)?
 - [ ] **E.3 Roll back**: Is there a way to turn off or roll back the model in production if necessary?
 - [ ] **E.4 Unintended use**: Have we taken steps to identify and prevent unintended uses and abuse of the model and do we have a plan to monitor these once the model is deployed?

## Team Expectations

- Communication
    - Discord will be used as the main form of communication and we will either meet in person or online every week
    - If you're struggling with a task, don't hesitate to ask others for help
- Tone
    - Be respectful, patient, and friendly towards each other
- Decision making
    - If pushing to the main branch, announce it to the group first just in case anyone else is working on it at the same time
- Tasks
    - Work will be discussed and divided equally among members
    - Everyone is expected to contribute equally to coding, writing, etc., and to meet deadlines on time
    - Have reminders of deadlines accordingly with our timeline
- Conflicts
    - We will first discuss issues calmly within the group, and if it cannot be resolved, we will ask the professor or TAs for help

## Project Timeline Proposal

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 2/1  | 5 PM  | Brainstorm & search for potential datasets  | Draft project proposal, assign roles   |
| 2/8  | 5 PM  | Do background research on topic   | Discuss data wrangling approaches, split work evenly |
| 2/16  | 5 PM  | Import & wrangle data | Discuss analysis plan, revise background, hypothesis, research question |
| 2/22  | 5 PM  | Finalize wrangling/EDA, begin analysis | Discuss & revise analysis if needed |
| 3/1   | 5 PM  | Finish analysis; draft results, conclusion, discussion | Revise results, conclusion, & discussion if needed |
| 3/8   | 5 PM  | Complete analysis; begin results, conclusion, and discussion | Finalize group project, split presentation slides across team members |
| 3/16  | Before 11:59 PM  | Complete final project notebook & video presentation | Turn in final project, video presentation, & group project surveys |